# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment
venv/
.env

# Application Temporary files (crucial to prevent repo bloating)
temp/

# Confidential configurations (highly critical to protect API Keys and GCP Credentials)
config.json

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# PyInstaller Desktop Build artifacts
TranslateDub AI.app/
TranslateDub AI.spec
build/
dist/
static/icon.icns
